<div class="row text-center">
  <div class="columns container">
    <h1><%= @game.name %></h1>
    <br />
    <table class="center">
      <% 8.times do |row| %>
        <tr>
        <% 8.times do |col| %>
            <% if (row + col) % 2 == 0 %>
            <% piece = @game.pieces.where(x_pos: col, y_pos: row) %>
              <td class="black_tile"><%= piece.blank? ? nil : ("test").html_safe %></td>
          <% else %>
            <td class="white_tile"><% row %><% col %></td>
          <% end %>

        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
    