<div class="row text-center">
  <div class="columns container">
    <h1><%= @game.name %></h1>
    <br />
    <table class="center">
      <% 8.times do |row| %>
        <tr>
        <% 8.times do |col| %>
          <% if (row + col) % 2 == 0 %>
            <td class="black_tile"><% row %>  
              <% @pieces.each do |piece| %>
                <% if piece.x_pos == row && piece.y_pos == col %>
                  <%= piece.name %>
                <% end %>
              <% end %>
            <% col %></td>
          <% else %>
            <td class="white_tile"><% row %> 
              <% @pieces.each do |piece| %>
                <% if piece.x_pos == row && piece.y_pos == col %>
                  <%= piece.name %>
                <% end %>
              <% end %>
            <% col %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
    