<div class="row text-center">
  <div class="columns container">
    <h1><%= @game.name %></h1>
    <br />
    <table class="center">
      <% 8.times do |row| %>
        <tr>
        <% 8.times do |col| %>
          <% if (row + col) % 2 == 0 %>
            <td class="black_tile"><% row %>
              <% piece = @game.pieces.where(x_pos: col, y_pos: row).first %>
              <%= piece.blank? ? nil : ('&#9813;').html_safe %>  
            <% col %></td>
          <% else %>
            <td class="white_tile"><% row %>  <% col %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
    