<h1> Let's Play Chess!</h1>
    
  <table class="center">
    <% 8.times do |row| %>
      <tr>
      <% 8.times do |col| %>
        <% if (row + col) % 2 == 0 %>
          <td class="black_tile"><% row %> <% col %></td>
        <% else %>
          <td class="white_tile"><% row %><% col %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </table>
    