@import "bootstrap";

/* ------------------
  Chess Board Styles
--------------------- */

.black_tile {
    background-color: black;
    color: white;
}

.white_tile {
    background-color: white;
    color: black;
}

table, td, tr{
    border: 1px solid black;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 500px;
    height: 500px;
}

td { width:42px; height:42px; }

// Bootstrap Modal Vertical Centering
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

.flash {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: black;}
}